$background-color: hsl(235, 18%, 26%);
$dark-blue: hsl(234, 29%, 20%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 58%);
$red: hsl(4, 100%, 67%);
$opacity-red: hsla(4, 100%, 67%, 0.142);
$gradient: linear-gradient(
  90deg,
  rgba(232, 86, 110, 1) 0%,
  rgba(232, 106, 60, 1) 100%
);
