@use "./colors.scss" as *;
@use "./reset.scss" as *;

body {
  background-color: $background-color;
}

main {
  background-color: $white;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  padding-left: 55px;
  height: 550px;
  width: 830px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  color: $dark-blue;
  font-size: 15px;
  font-weight: 450;
}

.sign-up-form {
  width: fit-content;
  margin-right: 50px;
}

h1 {
  font-size: 50px;
  margin-top: 60px;
}

p {
  margin: 15px 0px;
  line-height: 22px;
}

li {
  list-style: none;
  background: url("/assets/images/icon-list.svg") no-repeat left center;
  padding-left: 35px;
  line-height: 1.7;
  margin-bottom: 8px;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
  width: 330px;

  &-input {
    border: none;
    border-style: solid;
    height: 45px;
    border-color: $grey;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 20px;
  }

  & label {
    font-size: 12px;
    font-weight: 700;
  }

  & button {
    border: none;
    background: $dark-blue;
    height: 45px;
    border-radius: 5px;
    color: $white;
    font: inherit;
    font-weight: 500;
    font-size: 14px;
  }
}

input:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: $gradient;
}

.error {
  border-color: $red;
  background: $opacity-red;
  color: $red;
}

.email-form-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-label {
  margin: 0px;
  line-height: initial;
  font-size: 12px;
  font-weight: 700;
  color: $red;
}

@media only screen and (max-width: 376px) {
  main {
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    border-radius: 0%;
  }

  .sign-up-form {
    margin: auto;
    width: 86%;
    padding-bottom: 35px;
  }

  h1 {
    margin-top: 35px;
    font-size: 40px;
  }

  li {
    background: url("/assets/images/icon-list.svg") no-repeat top left;
  }

  #image {
    width: 100%;
  }
}
