@use "./colors.scss" as *;
@use "./reset.scss" as *;

body {
  background-color: $background-color;
}

main {
  margin: auto;
  margin-top: 300px;
  width: 410px;
  height: 425px;
  background-color: $white;
  padding: 35px 45px;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  color: $dark-blue;
  border-radius: 30px;
}

h1 {
  padding: 35px 0px 20px 0px;
  font-size: 50px;
  line-height: 50px;
}

p {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
  font-weight: 450;
}

button {
  border: none;
  background: $dark-blue;
  height: 45px;
  border-radius: 5px;
  font: inherit;
  color: $white;
  font-weight: 500;
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  background: $gradient;
}

@media only screen and (max-width: 376px) {
  main {
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    border-radius: 0px;
    padding: 150px 30px 40px 30px;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  button {
    margin-top: auto;
  }
}
